@font-face {
    font-family: cooper-black-std;
    src: url("/fonts/cooper-black.otf");
  }

header{
    display:flex;
    height: 138px;
    padding-top:30px;
    box-sizing: border-box;
    background-color: #C0C0C0;
}

body{
    text-align: center;
    font-family: cooper-black-std, georgia-italic, serif;
    font-style: normal;
    font-weight: 400;
}

ul {
    list-style: none;
    padding-left: 0;
}​

header > *{
    background-color: #D3392B;
    padding-top:50px;
}

.nav_bar{
    flex:4;
}

.nav_bar ul{
    display:flex;
}

.nav_bar li{
    flex:1;
    background-color:#A9A9A9;
    height: 3em;
    margin-right:10px;
}

.search_bar{
    flex:1;
    background-color:rgb(180,180,180);
    margin-bottom:40px;
    margin-right:40px;
}

.smashing_mag_title{
    flex:1;
    background-color: #808080;
    margin-bottom:40px;
    margin-left:40px;
    margin-right:40px;
}

.articles_wrapper{
    position:relative;
}

.red{
    float: right;
    background-color: #A9A9A9;
    margin-right: 20px;
    margin-top: 40px;
    width: 150px;
    height: 2.5em;
    font-size: 1.5em;
    border-radius: 10px;
}

.dont_miss{
    position: absolute;
    left: 50%;
    top:50px;
    background-color:#808080;
    transform: translate(-50%, -0%);
    text-align: center;
    font-size:2em;

}

.articles_container{
    position: absolute;
    top:0;
    width: 100%;
    display:grid;
    grid-template-columns: 50% 50%;
}

.articles_container > *{
    border: 1px solid 	#808080;
    height: 500px;
    background-color:#D3D3D3;
    z-index:-1;
}

.article > span{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 25%;
    width: 60%;
    height: 3em;
    margin-top: 35px;
    background-color: #C0C0C0;
}